*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.container{
    background-color: #daf7f9;
    width: 1200px;
    height: 600px;
    margin: auto;
    padding-top:50px;
    
}
.container h1{
    text-align: center;
    margin-top: 20px;
}
.first_p{
    text-align: center;
    margin-top: 20px;
}
.next_div{
    background-color: lightsteelblue;
}